/* ==========================================================================
	Variables
========================================================================== */

:root{
	/* Sizes */
	--body-text-size:	16px;
	--icon-gutter:		0.5rem;
	--icon-size:		2rem;
	--header-height:	3.5rem;
	--outer-gutter:		25px;
	/* Colors */
	--black:			#101820;
	--gray-dark:		#43484e;
	--gray:				#5a5d61;
	--gray-80:			#75787b;
	--gray-60:			#919395;
	--gray-40:			#b4b5b6;
	--gray-20:			#d2d3d5;
	--gray-10:			#e7e8e9;
	--gray-5:			#f7f8f9;
	--gold:				#ff9e1b;
	--gold-10:			#fff6ec;
	--navy:				#254b87;
	--pacific:			#0072ce;
	--red:				#d14124;
	--white:			#ffffff;
	/* Mapped colors */
	--rule-color:		var(--gray-20);
	/* Timings */
	--menu-duration:	0.25s;
}

/* ==========================================================================
	Typography
========================================================================== */

body {
	color: var(--black);
	font-family: system-ui,
				 -apple-system,
				 BlinkMacSystemFont,
				 "Segoe UI",
				 Helvetica,
				 Arial,
				 sans-serif,
				 "Apple Color Emoji",
				 "Segoe UI Emoji",
				 "Segoe UI Symbol";
	font-size: var(--body-text-size);
}

a:link,
a:visited {
	color: #254b87;
}

a:hover,
a:active {
	color: #002d72;
}

/* ==========================================================================
	Structure
========================================================================== */

body {
	background-color: var(--gray-5);
	margin: 0;
}

body * {
	box-sizing: border-box;
}

#nav::after {
	background-color: var(--white);
	border-bottom: 1px solid var(--rule-color);
	content: '';
	display: block;
	height: var(--header-height);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#wrapper {
	background-color: var(--white);
}

#main {
	margin: 0 var(--outer-gutter) 0 var(--outer-gutter);
	padding-top: calc(var(--header-height) + 1rem);
}

/* ==========================================================================
	Forms
========================================================================== */

.form_prompt + .form_prompt {
	margin-top: 1rem;
}

.form_prompt + .submitinput {
	margin-top: 1.5rem;
}

.prompt_label {
	color: var(--dark-gray);
	display: block;
	font-variant-caps: all-small-caps;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.textinput input[type="text"],
.passwordinput input[type="password"],
textarea {
	background-color: var(--white);
	border: 1px solid var(--gray-80);
	border-radius: 0;
	display: block;
	font-size: 1rem;
	padding: calc(var(--body-text-size) / 2);
	-webkit-appearance: none;
}

.textinput input[type="text"]:focus,
.passwordinput input[type="password"]:focus {
	outline: none;
}

.submitinput {
	-webkit-appearance: none;
	background-color: var(--white);
	border: 1px solid var(--black);
	color: var(--black);
	font-size: 1rem;
	font-variant-caps: all-small-caps;
	font-weight: 600;
	letter-spacing: -0.01rem;
	line-height: 1.4;
	padding: calc(var(--body-text-size) / 4) calc(var(--body-text-size) / 1.5);
}

/* ==========================================================================
	Nav
========================================================================== */

/* Structure ============================================================= */

#nav > div {
	background-color: var(--gray-5);
	display: flex;
	flex-flow: column;
	height: 100%;
	left: 101%;
	position: fixed;
	top: 0;
	transition: left var(--menu-duration) ease-in-out;
	width: 75%;
	z-index: 4;
}

[data-menu-visible='true'] #nav > div {
	left: 25%;
	overflow-y: scroll;
}

[data-menu-visible='true'] #main,
[data-menu-visible='true'] #footer {
	overflow: hidden;
}

#mobile_nav_trigger::before {
	background-color: var(--black);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity calc(var(--menu-duration) / 2) ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 3;
}

[data-menu-visible='true'] #mobile_nav_trigger::before {
	opacity: 0.6;
	visibility: visible;
}

#mobile_nav_trigger,
#mainlink_edit::after,
.opt_link[href="quicklove.php"]::after {
	transition: top calc(var(--menu-duration) / 2) ease-in-out;
}

[data-menu-visible='true'] #mobile_nav_trigger,
[data-menu-visible='true'] #mainlink_edit::after,
[data-menu-visible='true'] .opt_link[href="quicklove.php"]::after {
	top: calc(var(--header-height) * -1);
}

#autoread .autoreadentry:first-of-type a::after {
	transition: bottom calc(var(--menu-duration) / 2) ease-in-out;
}

[data-menu-visible='true'] #autoread .autoreadentry:first-of-type a::after {
	bottom: calc(var(--outer-gutter) * -1);
}

/* Trigger =============================================================== */

#mobile_nav_trigger {
	background-color: var(--white);
	border: 1px solid var(--rule-color);
	border-radius: var(--icon-size);
	display: inline-block;
	height: var(--icon-size);
	padding: 0;
	position: fixed;
	right: var(--outer-gutter);
	top: calc( (var(--header-height) - var(--icon-size)) / 2);
	width: var(--icon-size);
	z-index: 2;
}

/* TODO: Add icons */
#mobile_nav_trigger::after {
	content: '\039e';
}

#mobile_nav_trigger:focus {
	outline: none;
}

.mobile_nav_trigger_text {
	display: none;
}

/* Finger ================================================================ */

#finger {
	background-color: var(--white);
	border-bottom: 1px solid var(--rule-color);
}

#finger > form > div {
	align-items: center;
	display: flex;
	height: var(--header-height);
	padding: 0 var(--outer-gutter);
}

#finger .textinput,
#finger .submitinput {
	height: auto;
}

#finger .textinput {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	font-weight: 600;
	margin-right: 0.5rem;
}

#finger .textinput::before,
#finger .textinput::after {
	color: var(--gray-dark);
	display: block;
	font-size: 2rem;
}

#finger .textinput::before {
	content: '[';
	left: 0;
}

#finger .textinput::after {
	content: ']';
	right: 0;
}

#finger #searchname {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--gray-80);
	border-radius: 0;
	margin: 0 0.5rem;
	padding: 0 0 2px 0;
	width: calc(100% - 3rem);
}

#finger .submitinput {
	margin-top: 6px;
}

/* Autoread ============================================================== */

#autoread {
	order: 2;
}

#autoread h2 {
	display: none;
}

#autoread > ul,
.autoreadlevel > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#autoread > ul {
	margin-top: 1.5rem;
}

.autoreadlevel + .autoreadlevel {
	margin-top: 1.5rem;
}

.autoreadlevel > ul {
	margin-top: 0.5rem;
}

.autoreadname {
	display: flex;
	justify-content: space-between;
	padding: 0 var(--outer-gutter);
}

.autoreadlevel > ul {
	background-color: var(--white);
	border-bottom: 1px solid var(--rule-color);
	border-top: 1px solid var(--rule-color);
}

a.autoreadlink,
a.markasread {
	border-bottom: none;
	color: var(--gray-80);
	font-size: 0.75rem;
	text-decoration: none;
}

a.autoreadlink {
	font-weight: 600;
}

a.markasread {
	font-weight: 700;
}

#autoread a.planlove {
	color: var(--gray-dark);
	display: block;
	margin-left: var(--outer-gutter);
	padding: 1rem var(--outer-gutter) 1rem 0;
	text-decoration: none;
}

.autoreadentry + .autoreadentry a.planlove {
	border-top: 1px solid var(--rule-color);
}

/* Logo ================================================================== */

#logo {
	padding-top: 1.5rem;
	order: 3;
}

#logo::before {
	color: var(--gray-80);
	content: 'Links';
	display: block;
	font-size: 0.75rem;
	font-weight: 600;
	padding-left: var(--outer-gutter);
	text-decoration: none;
}

#logo > a {
	background-color: var(--white);
	border-top: 1px solid var(--rule-color);
	color: var(--gray-dark);
	display: block;
	margin-top: 0.5rem;
	padding: 1rem var(--outer-gutter);
	text-decoration: none;
}

/* Links ================================================================= */

#links {
	order: 4;
	padding-bottom: calc(var(--header-height) / 2);
}

#links > h2 {
	display: none;
}

.linkslist {
	background-color: var(--white);
	border-bottom: 1px solid var(--rule-color);
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.linkslist a {
	border-top: 1px solid var(--rule-color);
	color: var(--gray-dark);
	display: block;
	margin-left: var(--outer-gutter);
	padding: 1rem var(--outer-gutter) 1rem 0;
	text-decoration: none;
}

#mainlink_logout {
	color: var(--red);
}

/* Since the logo is styled to look like the top link in the list, we
need to hide the second, optional home link if it appears */

.linkslist a[href="home.php"] {
	display: none;
}

/* Floating buttons ====================================================== */

#mainlink_edit::after {
	background-color: var(--white);
	border: 1px solid var(--rule-color);
	border-radius: var(--icon-size);
	box-sizing: border-box;
	height: var(--icon-size);
	position: fixed;
	right: calc(var(--outer-gutter) + var(--icon-size) + var(--icon-gutter));
	top: calc( (var(--header-height) - var(--icon-size)) / 2);
	width: var(--icon-size);
	/* TODO: Add icons */
	color: var(--pacific);
	content: '\270E';
	font-size: 1rem;
	line-height: var(--icon-size);
	text-align: center;
}

.opt_link[href="quicklove.php"]::after {
	background-color: var(--white);
	border: 1px solid var(--rule-color);
	border-radius: var(--icon-size);
	box-sizing: border-box;
	height: var(--icon-size);
	position: fixed;
	right: calc(var(--outer-gutter) + (2 * var(--icon-size)) + (2 * var(--icon-gutter)));
	top: calc( (var(--header-height) - var(--icon-size)) / 2);
	width: var(--icon-size);
	/* TODO: Add icons */
	color: var(--red);
	content: '\2665';
	font-size: 1rem;
	line-height: var(--icon-size);
	text-align: center;
}

[data-menu-visible="false"] #autoread .autoreadentry:first-of-type a,
[data-menu-visible="false"] #autoread .autoreadentry:last-of-type::after {
	box-sizing: border-box;
	letter-spacing: -0.025rem;
	position: fixed;
	right: var(--outer-gutter);
	width: 145px;
}

[data-menu-visible="false"] #autoread .autoreadentry:first-of-type a {
	/* TODO: Add icons */
	background-color: var(--white);
	border: 1px solid var(--rule-color);
	border-radius: 2rem;
	bottom: var(--outer-gutter);
	box-shadow: -1px 1px 1px 0 #10182044;
	color: var(--pacific);
	font-size: 1.25rem;
	font-variant-caps: all-small-caps;
	font-weight: 500;
	height: 60px;
	padding: 0.5rem 2.5rem 0 1rem;
}

[data-menu-visible="false"] #autoread .autoreadentry:first-of-type a::before {
	content: '[';
}

[data-menu-visible="false"] #autoread .autoreadentry:first-of-type a::after {
	content: ']';
}

[data-menu-visible="false"] #autoread .autoreadentry:last-of-type::after {
	bottom: var(--outer-gutter);
	color: var(--gray-60);
	content: counter(unread) ' unread';
	font-size: 0.9375rem;
	font-variant-caps: all-small-caps;
	margin: 0 -1rem 0.8125rem 0;
	pointer-events: none;
}

#autoread {
	counter-reset: unread;
}

#autoread .autoreadentry {
	counter-increment: unread;
}

[data-menu-visible='true'] #autoread .autoreadentry:last-of-type a::after {
	display: none;
}

/* ==========================================================================
	Info message
========================================================================== */

.infomessage .title {
	display: none;
}

/* ==========================================================================
	Read plan
========================================================================== */

#planspage_readplan #main > div {
	display: flex;
	flex-direction: column;
}

#planspage_readplan #main > div .plan {
	order: 1;
	padding-bottom: 2rem;
	position: relative;
}

#planspage_readplan #main > div #block {
	order: 3;
}

#planspage_readplan #main > div #block + .infomessage {
	order: 2;
}

/* Header ================================================================ */

#header ul {
	border-bottom: 1px solid var(--rule-color);
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0 0 1rem 0;
}

#header ul .username {
	align-items: center;
	color: var(--gray-dark);
	display: flex;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 2;
}

#header ul .username .title {
	display: none;
}

#header ul .username .value {
	font-size: 1.5rem;
	font-weight: 600;
}

#header ul .username .value:before {
	content: '[';
}

#header ul .username .value:after {
	content: ']';
}

#header ul .planname {
	color: var(--gray-dark);
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 0.1em;
	order: 1;
}

#header ul .planname .title {
	display: none;
}

#header ul .lastupdated {
	color: var(--gray-60);
	font-size: 0.9375rem;
	font-weight: 300;
	order: 2;
}

#header ul .lastupdated .title {
	display: none;
}

#header ul .lastupdated .long {
	display: none;
}

#header ul .lastlogin {
	border-top: 1px solid var(--gray-light);
	bottom: 0;
	color: var(--gray-60);
	font-size: 0.9375rem;
	font-weight: 300;
	order: 3;
	padding-top: 0.5em;
	position: absolute;
	width: 100%;
}

#header ul .lastlogin .long {
	display: none;
}

/* Plan text ============================================================= */

.plan_text {
	line-height: 1.6;
}

/* Set autoread level ==================================================== */

#autoreadadd {
	background-color: var(--gray-5);
	border-bottom: 1px solid var(--rule-color);
	border-top: 1px solid var(--rule-color);
	margin: 0 calc(-1 * var(--outer-gutter));
	padding: 1rem var(--outer-gutter);
}

#autoreadadd form > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#readadd_levels .radioinput {
	display: inline-block;
	margin-right: 0.5rem;
}

/* Info messages ========================================================= */

#planspage_readplan .infomessage {
	background-color: var(--gold-10);
	border-bottom: 1px solid var(--gold);
	font-size: 0.9375rem;
	font-weight: 500;
	margin: -1rem
			calc(var(--outer-gutter) * -1)
			1rem
			calc(var(--outer-gutter) * -1);
	padding: 1rem var(--outer-gutter);
}

#planspage_readplan #block + .infomessage {
	background-color: var(--white);
	border-bottom: none;
	border-top: 1px solid var(--rule-color);
	font-size: 0.875rem;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 2rem;
	padding-top: 2rem;
}

/* Block ================================================================= */

#block {
	padding: 0;
}

/* ==========================================================================
	Edit plan
========================================================================== */

#editform {
	padding-bottom: 3rem;
	position: relative;
}

#editform::after {
	color: var(--gray-dark);
	content: 'Edit';
	font-size: 1.5rem;
	font-weight: 600;
	height: var(--header-height);
	left: var(--outer-gutter);
	line-height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 2;
}

#edit_textarea {
	border: none;
	border-radius: 0;
	display: block;
	height: 28vh;
	line-height: 1.4;
	padding: 0;
	resize: none;
	width: 100%;
}

#edit_textarea + br {
	display: none;
}

#edit_textarea:focus {
	outline: none;
}

.fill_bar {
	display: none;
}

#edit_fill_meter,
.fill_percent,
#editform .submitinput {
	position: absolute;
}

#edit_fill_meter {
	background-color: var(--gray-5);
	border-bottom: 1px solid var(--gray-80);
	border-top: 1px solid var(--rule-color);
	bottom: 0;
	height: 3rem;
	left: calc(var(--outer-gutter) * -1);
	right: calc(var(--outer-gutter) * -1);
}

.fill_percent {
	bottom: 0.5rem;
	color: var(--gray);
	font-size: 0.875rem;
	font-weight: 700;
	left: var(--outer-gutter);
	line-height: 2rem;
	height: 2rem;
}

#editform .submitinput {
	bottom: 0.5rem;
	right: 0.5rem;
}

/* ==========================================================================
	Preferences
========================================================================== */

.preferences::after {
	color: var(--gray-dark);
	content: 'Preferences';
	font-size: 1.5rem;
	font-weight: 600;
	height: var(--header-height);
	left: calc(var(--outer-gutter) + 1rem);
	line-height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 2;
}

#planspage_prefs.preferences::after {
	left: var(--outer-gutter);
}

/* Preferences list ====================================================== */

#planspage_prefs #wrapper {
	background-color: var(--gray-5);
}

#planspage_prefs #main .heading1 {
	display: none;
}

#preflist {
	list-style-type: none;
	margin: 0 calc(-1 * var(--outer-gutter));
	padding: 0;
}

#planspage_prefs #preflist .heading2,
#preflist::before {
	border-bottom: 1px solid var(--rule-color);
	color: var(--gray-80);
	font-size: 0.75rem;
	font-weight: 600;
	margin: 0;
	padding: 0 var(--outer-gutter) 0.5rem var(--outer-gutter);
}

#planspage_prefs #preflist .heading2 {
	background-color: var(--gray-5);
	margin-top: 2rem;
}

#preflist::before {
	content: 'Manage';
	display: block;
}

#preflist > li {
	background-color: var(--white);
}

#preflist a.preflink {
	border-bottom: 1px solid var(--rule-color);
	color: var(--gray-dark);
	display: block;
	margin-left: var(--outer-gutter);
	padding: 1rem var(--outer-gutter) 1rem 0;
	position: relative;
	text-decoration: none;
}

#preflist a.preflink::after {
	color: var(--gray-40);
	content: '\203A';
	font-size: 1.75rem;
	font-weight: 300;
	margin-top: -0.5625rem;
	position: absolute;
	right: var(--outer-gutter);
}

#preflist a.preflink[href="blocks.php"],
#preflist a.preflink[href="links.php"] {
	margin-left: 0;
	padding-left: var(--outer-gutter);
}

/* Preferences form ====================================================== */

.preferences #main .heading1,
.preferences #main .heading2 {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0 0 1.5rem 0;
}

.preferences #main .form_prompt input[type="text"],
.preferences #main .form_prompt input[type="password"] {
	width: 100%;
}

/* Info messages ========================================================= */

.preferences #main .infomessage {
	background-color: var(--gold-10);
	border: 1px solid var(--gold);
	font-size: 0.9375rem;
	font-weight: 500;
	padding: 1rem var(--outer-gutter);
}

/* Info messages as regular text ========================================= */

/* In the preferences, info messages are used both as a success notification
and as plain text in some forms, so we need to set them to look like plain
text in those cases. */

.preferences #main #passwordform ~ .infomessage,
#planspage_email.preferences #main .infomessage,
.preferences #main #blocking_header > .infomessage {
	background-color: unset;
	border: unset;
	font-size: unset;
	font-weight: unset;
	padding: unset;
}

.preferences #main .infomessage + .infomessage {
	margin-top: 1rem;
}

/* Some preference form paragraphs aren't  in <p>s, so we have to fake it */
.preferences #main .infomessage .body br {
	content: '';
	display: block;
	margin-bottom: 1rem;
	line-height: 1;
}

.preferences #main .infomessage .body br + br {
	display: none;
}

/* Radio/checkbox lists ================================================== */

.preferences .radioinput,
.preferences .checkboxinput {
	position: relative;
}

.preferences .radioinput input[type="radio"],
.preferences .checkboxinput input[type="checkbox"] {
	position: absolute;
}

.preferences .radioinput .prompt_label,
.preferences .radioinput .prompt_description,
.preferences .checkboxinput .prompt_label,
.preferences .checkboxinput .prompt_description {
	display: block;
	margin-left: 1.75rem;
}

.preferences .radioinput .prompt_label,
.preferences .checkboxinput .prompt_label {
	font-variant-caps: normal;
	font-weight: 600;
	margin-bottom: 0.125rem;
}

/* Hacky back button ===================================================== */

.preferences #mainlink_prefs::after {
	color: var(--gray-dark);
	content: '\2039';
	font-size: 1.5rem;
	font-weight: 600;
	height: var(--header-height);
	position: fixed;
	left: var(--outer-gutter);
	line-height: var(--header-height);
	top: 0;
	width: 50%;
	z-index: 2;
}

.preferences[data-menu-visible="true"] #mainlink_prefs::after {
	pointer-events: none;
}

#planspage_prefs.preferences #mainlink_prefs::after {
	display: none;
}
	

/* Change password ======================================================= */

#passwordform {
	border-bottom: 1px solid var(--rule-color);
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

#guestpasswordform {
	margin-top: 1rem;
}

/* Change email ========================================================== */

#emailform {
	margin-top: 1rem;
}

/* Blocking ============================================================== */

#blocking_header {
	margin-bottom: 1.5rem;
}

/* Interface options ====================================================== */

#interfacesform .radioinput {
	align-items: flex-start;
	display: flex;
}

#interfacesform .prompt_description b {
	display: block;
	font-weight: 600;
	margin-bottom: 0.125rem;
}

#interfacesform .prompt_description b + br {
	display: none;
}

/* Styles ================================================================ */

#styleform input[value="custom"] + .prompt_description {
	font-weight: 600;
}

#customstyle + #styleform {
	display: none;
}

/* ==========================================================================
	Footer
========================================================================== */

#footer {
	background-color: var(--gray-5);
	border-top: 1px solid var(--rule-color);
	color: var(--gray-dark);
	margin: 2rem 0 0 0;
	padding: 2rem var(--outer-gutter);
}

#poweredby,
#legal {
	font-size: 0.8rem;
}

#poweredby {
	margin-top: 1.5rem;
}

#poweredby .logo {
	display: none;
}

#legal {
	margin-top: 0.8em;
}