/* ==========================================================================
	Variables
========================================================================== */

:root{
	/* Sizes */
	--body-text-size:	16px;
	--header-height:	3.5rem;
	--outer-gutter:		25px;
	/* Colors */
	--black:			#101820;
	--gray-x-light:		#f7f8f9;
	--gray-light:		#b4b5b6;
	--gray-medium:		#75787b;
	--gray-dark:		#43484e;
	--white:			#ffffff;
}

/* ==========================================================================
	Typography
========================================================================== */

body {
	color: var(--black);
	font-family: system-ui,
				 -apple-system,
				 BlinkMacSystemFont,
				 "Segoe UI",
				 Helvetica,
				 Arial,
				 sans-serif,
				 "Apple Color Emoji",
				 "Segoe UI Emoji",
				 "Segoe UI Symbol";
	font-size: var(--body-text-size);
}

/* ==========================================================================
	Structure
========================================================================== */

body {
	background-color: var(--white);
	margin: 0;
}

body * {
	box-sizing: border-box;
}

#main {
	margin: calc(var(--header-height) + 1rem) var(--outer-gutter) 0 var(--outer-gutter);
}

/* ==========================================================================
	Nav
========================================================================== */

#nav > div {
	position: absolute;
	right: 1000px;
	top: 0;
}

#nav::before {
	background-color: var(--gray-x-light);
	border-bottom: 1px solid var(--gray-light);
	content: '';
	display: block;
	height: var(--header-height);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

/* ==========================================================================
	Read plan
========================================================================== */

#main .plan {
	padding-bottom: 2rem;
	position: relative;
}

#header ul {
	border-bottom: 1px solid var(--gray-light);
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0 0 1rem 0;
}

#header ul .username {
	align-items: center;
	color: var(--gray-dark);
	display: flex;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 200;
}

#header ul .username .title {
	display: none;
}

#header ul .username .value {
	font-size: 1.5rem;
	font-weight: 600;
}

#header ul .username .value:before {
	content: '[';
}

#header ul .username .value:after {
	content: ']';
}

#header ul .planname {
	color: var(--gray-dark);
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 0.1em;
	order: 1;
}

#header ul .planname .title {
	display: none;
}

#header ul .lastupdated {
	color: var(--gray-medium);
	font-size: 0.9375rem;
	font-weight: 300;
	order: 2;
}

#header ul .lastupdated .title {
	display: none;
}

#header ul .lastupdated .long {
	display: none;
}

#header ul .lastlogin {
	border-top: 1px solid var(--gray-light);
	bottom: 0;
	color: var(--gray-medium);
	font-size: 0.9375rem;
	font-weight: 300;
	order: 3;
	padding-top: 0.5em;
	position: absolute;
	width: 100%;
}

#header ul .lastlogin .long {
	display: none;
}

.plan_text {
	line-height: 1.6em;
}

/* ==========================================================================
	Footer
========================================================================== */

#footer {
	background-color: var(--gray-x-light);
	border-top: 1px solid var(--gray-light);
	color: var(--gray-dark);
	margin: 2rem 0 0 0;
	padding: 2rem var(--outer-gutter);
}

#poweredby,
#legal {
	font-size: 0.8rem;
}

#poweredby {
	margin-top: 1.5rem;
}

#poweredby .logo {
	display: none;
}

#legal {
	margin-top: 0.8em;
}